body {
  margin: 0;
}

nav {
  background-color: steelblue;
  padding: 10px;
  text-align: center;
  padding: 25px;
}

a {
  font-size: 1.5em;
  color: white;
  margin: 40px;
  padding: 25px;
}

#active {
  background-color: white;
  color: steelblue;
}

a:hover {
  background-color: white;
  color: steelblue;
}

h1 {
  text-align: center;
  color: steelblue;
  margin: 50px 0;
}

img {
  display: block;
  width: 80%;
  margin: 0 auto
}

p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}

footer {
  background-color: steelblue;
  color: white;
  text-align: center;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
  color: white;
}