@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

#content {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: Ubuntu, Arial, sans-serif;
    color: Black;
}

h1,
h2 {
    text-align: center;
    margin-bottom: -15px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    color: white;
    background-color: #3e8e41;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #3b721d;
    background-color: white;
}
/*
.active {
    color: #6a8d73;
    background-color: white;
}
*/
#logo-link {
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
    padding-top: 5px;
    border-radius: 10px;
}

.icon {
    padding-top: 10px;
}

.megafauna {
    width: 100%;
}

.msg,
.msg3,
.msg4,
.msg5,
.msg8 {
    grid-column: 2/10;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.smilodon1 {
    margin-top: 33px;
    margin-right: 10px;
    float: left;
}

.camel {
    margin-top: -40px;
    margin-bottom: -90px;
    margin-left: 75%;
}

.sloth {
    margin-left: 60px;
    margin-top: -5px;
}

.beiber {
    margin-top: -260px;
    margin-left: 526px;
}

#background {
    width: 100%;
    z-index: -1;
    margin-bottom: -260px;
    height: 340px;
    background-color: #7e1023;
}

#background2 {
    width: 100%;
    height: 500px;
    background-color: #7e1023;
}


.map {
position: relative;
text-align: center;
color:white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }




  .anbutton {
    padding: 15px 25px;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .anbutton:hover {background-color: #3b721d}
  
  .anbutton:active {
    background-color: #3b721d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


footer {
    color: white;
    background-color: #3e8e41;
    padding: 25px 50px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
}

footer h3 a:hover {
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    padding: 10px;
    color:#3b721d;
}

footer .social img {
    padding-top: 15px;
}

#hero-img {
    width: 100%;
}