#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #396E94;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    margin: 10px;
}

nav a {
    color: white;
    background-color: #006FFF;
    padding: 3px 8px 3px 8px;
    text-align: center;
    margin: 2px;
    text-decoration: none;
}

nav {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

nav a:hover {
    color: #006FFF;
    background-color: white;
}
